<section class="w-full flex justify-center items-center pt-24 pb-20 px-12">
    <div
        class="w-full max-w-[1200px] text-white py-20 px-12 rounded-[32px] text-center flex flex-col justify-center items-center gap-10"
        style="background: linear-gradient(180deg, #2469fe 0%, #173ae1 100%); box-shadow: inset 0 0 12px 6px #ffffff61, 0 0 8px 1px #2465ff66;"
    >
        <div class="flex flex-col gap-2">
            <h2 class="text-5xl font-semibold">
                Start Building Your SaaS Success Today
            </h2>
            <p class="text-lg">
                Take your SaaS from zero to hero with our flexible and
                conversion-focused template.
            </p>
        </div>
        <a href="#">
            <div
                class="w-fit relative overflow-hidden py-2 px-6 rounded-full text-center
           bg-white text-black transition-text duration-300 hover:text-gray-600"
            >
                <span class="relative z-10 font-semibold"
                    >Get Started Today</span
                >
            </div>
        </a>
    </div>
</section>
