<footer class="w-full">
    <div class="w-full p-4 bg-white flex flex-col">
        <div
            class="relative w-full h-42 flex items-center justify-center overflow-hidden rounded-lg"
        >
            <div
                class="absolute inset-0 opacity-40"
                style="
          background-image: url('/background.svg');
          background-repeat: repeat;
          background-position: left top;
          background-size: 63px;
        "
            >
            </div>

            <div
                class="absolute inset-0"
                style="
          background: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(165, 186, 248, 0.778));
        "
            >
            </div>

            <h1
                class="relative font-bold w-full text-center text-[clamp(2rem,15vw,90rem)] leading-none"
            >
                SAASWIFTIE
            </h1>
        </div>

        <div
            class="w-full flex flex-col sm:flex-row justify-between gap-8 py-4 sm:py-6 px-6 sm:px-14"
        >
            <div>
                <img width="120px" src="logo.avif" />
                <p>@2024 SaaSify. All rights reserved.</p>
            </div>
            <div class="flex flex-row gap-3">
                <a
                    href="https://x.com/framer"
                    class="p-1 bg-background w-[40px] h-[40px] flex justify-center items-center"
                >
                    <img width="20px" height="20px" src="social1.avif" />
                </a>
                <a
                    href="https://x.com/framer"
                    class="p-1 bg-background w-[40px] h-[40px] flex justify-center items-center"
                >
                    <img width="20px" height="20px" src="social2.avif" />
                </a>
                <a
                    href="https://x.com/framer"
                    class="p-1 bg-background w-[40px] h-[40px] flex justify-center items-center"
                >
                    <img width="20px" height="20px" src="social3.avif" />
                </a>
            </div>
        </div>
        <div
            class="w-full flex flex-row justify-center items-center gap-6 py-3"
        >
            <a href="#about">About</a>
            <a href="#solution">Solution</a>
            <a href="#pricing">Pricing</a>
        </div>
        <div class="flex justify-center items-center">
            <a href="#">Template by Keyla</a>
        </div>
    </div>
</footer>
