---
import Title from "./Title.astro";
import PricingCard from "./PricingCard.astro"
---

<section 
id="pricing"
    class="w-full pt-[96px] pb-[80px] px-12 flex flex-col gap-10 items-center justify-center"
>
    <Title
        tag="Pricing"
        title="Simple Plans for Every Need"
        description="Start small or go all-in—there’s a plan for you."
        styleType="center"
    />
    <div class="w-full grid md:grid-cols-2 gap-6 max-w-[1200px]">
        <PricingCard
      title="Essential"
      description="Ideal for individuals and small teams looking for simple, powerful tools."
      price="$29"
      features={["Up to 10 Pages", "Basic Customization Options", "Core Analytics Tools", "Email Support"]}
      button="Get started"
    />

    <PricingCard
      title="Pro"
      description="Ideal for individuals and small teams looking for simple, powerful tools."
      price="$79"
      features={["Unlimited Pages", "Full Customization & Branding", "Advanced Analytics & A/B Testing", "Priority Email Support"]}
      button="Go Pro"
      primary
    />
    </div>
</section>
