---
interface Props {
    tag?: string;
    title: string;
    description?: string;
    styleType: "center" | "left";
}

const { tag, title, description, styleType } = Astro.props;
---

<div class={`flex flex-col gap-6 ${styleType === "center" ? "items-center text-center" : "items-start"}`}>
    {tag && (
    <div class="bg-black text-white py-2 px-3 rounded-full w-fit">
      <p>{tag}</p>
    </div>
  )}
    <h2 class="text-3xl sm:text-5xl font-semibold">
        {title}
    </h2>
    {description && (
    <p class="text-gray-600 text-lg">
      {description}
    </p>
  )}
</div>
